@import '~styles/app-theme';

.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 16px;
  background: mat-color($primary);
  justify-content: flex-start;
}

.header-title {
  margin: 10px;
}

.header-link {
  height: 50px;
}

.right-panel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex: 1;
}
