.container {
    display: flex;
    flex: 1;
}

.list {
    width: 300px;
}

.references-details {
    flex: 1;
    // background-color: cornflowerblue;
    display: flex;
}

:host {
    flex: 1;
    display: flex;
}

