<h1 mat-dialog-title class="dialog-title">Sign in</h1>
<form (ngSubmit)="logon()" [formGroup]="logonForm" #form="ngForm">
  <div mat-dialog-content class="logon-content">
    <div *ngIf="errorDisplayed" class="error-message">
      <span>Password incorrect, please check your user and password</span>
    </div>

    <mat-form-field>
      <input matInput placeholder="Username" type="text" name="username" formControlName="userName" autocomplete="username" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" formControlName="password" autocomplete="current-password" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="dialog-button">
    <button mat-raised-button [disabled]="form.touched && hasErrors" type="submit">Login</button>
  </div>
</form>
