<div class="main-div" dgvSnowDialog>
  <section class="header">
    <h3 class="assembly-details-header">Depth View : {{assemblyName}}</h3>
    <button id="close-visibility-button" mat-flat-button aria-label="Close" matTooltip="Close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </section>
  <mat-slider cdkFocusInitial min="0" step=1 [max]="depthMax" [(ngModel)]="selectedDepth" thumbLabel="true"
    class="depth-slider" [disabled]="!depthAvailable"></mat-slider>
  <section class="overlap-container">
    <dgv-force-graph [graph]="graph" class="force-graph" updateMode="ClearAndAdd"></dgv-force-graph>
    <dgv-busy opacity="0.7" busyKey="AssemblyDepth"></dgv-busy>
  </section>
</div>
