@import '~styles/app-colors';

.assemblies-container {
  flex: 1 1 auto;
  display: flex;
  height: 0px; //only for firefox (good position of scroll bar)
  flex-direction: column;
}

:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.assemblies-table {
  flex: 1 1 auto;
  width: 100%;
}

.mat-row:hover {
  background: mat-color($accent, 700);
  cursor: pointer;
}

.no-value {
  opacity: 40%;
}

.table-div {
  overflow: auto;
  flex: 1 1 auto;
}

.assemblies-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 0px;
}

.flex-column {
  flex-direction: column;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.native-dot {
  background: lightgreen;
}

.managed-dot {
  background: lightblue;
}

.search-panel {
  margin-left: 20px;
  margin-right: 20px;
}
