@import '~styles/app-colors';

.main-view {
    display: flex;
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
    $backgrounds: map-get($app-theme, background);
    background: map-get($backgrounds, card);
    overflow: hidden;
}

.main-router {
    position: absolute;
}

.main-router + * { 
    width: 100%;
    height: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 16px;
  background: mat-color($primary);
  justify-content: space-between;
  z-index: 200;
}

.header-title {
  margin: 10px;
  align-items: center;
}

.right-panel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.left-panel {
  align-items: center;
}


dgv-snow {
  position: absolute;
  display: flex;
  height: 0px;
}