
:host {
  flex-direction: column;
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
  display: flex;
}

.assembly-details {
  display: flex;
  height: 100%;
}

.absolute-position {
  position: absolute;
}

.visibility-panel {
  width: 450px;
  display: flex;
}

.open-visibility-panel {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}