<div class="overlap-container">
  <mat-drawer-container class="dawer-container overlap-item" hasBackdrop="false">
    <mat-drawer position="end" [(opened)]="visibilityPanelOpened">
      <div class="visibility-panel">
        <app-assemblies-visibility (closed)="closeVisibilityPanel()"></app-assemblies-visibility>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="assembly-details overlap-container">
        <app-force-graph class="overlap-item" [graph]="graph | async" updateMode="ClearAndAdd"></app-force-graph>
        <app-software-statistics class="absolute-position no-pointer-events"></app-software-statistics>
        <div class="overlap-item open-visibility-panel no-pointer-events" >
          <button mat-fab aria-label="Open visibility panel" (click)="openVisibilityPanel()" class="pointer-events">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-busy opacity="0.7" busyKey="SelectedSoftware"></app-busy>
</div>
