@use '~@angular/material' as mat;
@import '~styles/app-colors';

::ng-deep mat-pseudo-checkbox {
    visibility: hidden !important;
}

:host {
    display: flex;
}

.software-card {
    padding: 0px;
    flex: 1;
    display: flex; 
    flex-direction: column;
    border-radius: 0px;
}

.software-content {
    overflow: auto;
    display: flex;
    flex: 1;
}

.software-header {
    justify-content: space-between;
    align-items: center;
}

.software-header-title {
    margin-top: 10px;
}

.refresh-button {
    margin-left: 5px;
}

::ng-deep mat-list-option.selected-software > div:first-child {
    background-color: mat.get-color-from-palette($accent, 700);
}

.scroll-content {
    height: 1px; //only for firefox (good position of scroll bar)
    flex: 1;
}