:host {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.assemblies-panel {
    flex-direction: column;
    flex: 1;
    display: flex;
}

mat-card {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 0px;
}

mat-card-title {
    margin: 0 !important;
}

mat-card-header {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

mat-list {
    height: 100%;
    overflow: auto;
}

mat-divider {
    position: unset !important;
}

.search-panel {
    margin-left: 20px;
    margin-right: 20px;
}

.results-section {
    height: 1px;
}

.all-checkbox {
    margin-left: 15px;
    margin-bottom: 10px;
}