# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  # push:
  #   branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.0

    - name: Install dependencies
      run: yarn --frozen-lockfile
      
    - name: Lint
      run: yarn ng lint
    
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v1.3

    - name: Build
      run: yarn ng build --prod --aot --no-progress
    
    - name: Build docker image
      run:  docker build . --tag dependencies-graph-view:test

